<p class="links">
  <a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt"></i></a>
  <a href="https://meta.stackoverflow.com/users/{{ site.stackoverflow_username }}" target="_new"><i class="fa fa-stack-overflow"></i></a>
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_new"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter"></i></a>
</p>
